:root {
	--theme-light-blue: #58C7E6;
	--theme-navy-blue: #0E2F45;
	--theme-orange: #EF953A;
	--theme-coral: #E04045;
	--theme-green: #49A02E;
}


/* HEADINGS */
html h1 {
	color:var(--theme-navy-blue)!important;	
	font-size:64px!important;
}

