/* HEADINGS */
html h1 {
	color:#0E2F45!important;	
	font-size:64px!important;
}
html h2 {
	color:#0E2F45!important;	
	font-size:48px!important;
}
html h3 {
	color:#58C7E6!important;	
	font-size:32px!important;
}

